body{
	background-color:black;
}

h1{
	text-align: center;
}

#center-the-text{
  text-align:center; 
}

p{
  color:#ffffff;
}

.row{
    background-color: #ffffff;
    opacity: 0.5;
    /* float: left; */
    color: rgba(0,0,0,1);
    width: 35%;
    /* margin-right: 5%; */
    border-radius: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-top: 5%;
}

.form-group{
  padding-left: 35px;
  width: 80%;
  margin-bottom: 20px;
}

.container{
	margin: auto 50px;

}

.result{
  padding-left: 35px;
}


 .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    /* background-image: url(http://i.imgur.com/K3mPv14.jpg)  */
    background-image:url(https://www.photosforclass.com/download/pb_170272)
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://www.photosforclass.com/download/pb_1149792);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.pexels.com/photos/1436697/pexels-photo-1436697.jpeg?auto=compress&cs=tinysrgb&h=350);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://pixabay.com/get/52e2d0414e53ac14f1dc84609620367d1c3ed9e04e5074407c2c7fdc9f49c4_340.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://pixabay.com/get/54e3d5444a53a414f1dc84609620367d1c3ed9e04e5074407c2c7ed49745c7_340.jpg);
    animation-delay: 40s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 0.2;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 0.2
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
